@{
   
   
    Bundles.Reference("Content");
    Bundles.Reference("Scripts/Shared");
    Bundles.Reference("Scripts/Intro");
   
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>online3D</title>
 
     @Bundles.RenderStylesheets()

</head>
<body class="gridbody" id="body">     

        <div id="loginDiv" style="float:right;padding:20px">
           <button id="access" class="btn btn-large"  type="button" > Sign in</button>         
        </div>

        <div class="hero-unit gridbody" id="header" >
           <h1>Online3D</h1>
           <p> View, Share and Collaborate 3D with models online</p>       
           <img id="iconImageSrc" class="introIcon" src="@Url.Content("~/Content/Images/logo.png")" data-original="@Url.Content("~/Content/Images/3D-icon.png")"/>                  
        </div>

        <div class="container" id="fileDropDiv">    
                     
            <span id="intro_text">Drop files here, or</span> 
            <input type="file" id="fileLoader" name="files" title="Load File" style="visibility: hidden;
                position: absolute; top: -50px; left: -50px" />
      
           <div class="btn-group" id="selectfile_button">
                <button class="btn btn-large  btn-primary" style="font-size: 23px;" data-toggle="dropdown" href="#">
                    Open file
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li> <a href="#" onclick="startup.openFileDialog();">Computer</a> </li>
                    <li> <a href="#"  onclick="startup.openDropboxDrive();">Dropbox (ALFA)</a></li>
                   @* <li> <a href="#"  onclick="startup.openSkyDrive();">Sky Drive (ALFA)</a></li>*@
                   @* <li> <a href="#"  onclick="startup.openGoogleDrive();">Google Drive</a></li>*@                   
                </ul>
                </div>
            </div>

        <div id="db_progress"  class="progress progress-striped active" style="margin: 30px auto auto auto; width:300px; height: 32px; visibility:hidden; z-index: 1;
position: relative;">
           <div class="bar" style="width: 100%;"></div>
        </div>

        
        <div  id="presentation" class="row-fluid">
           
            <div id="presentation-description">
                What this excelent for 
            </div>
            <div id="preview" class="span4 offset1" style="margin: -12px 50px;">
                <i id="presentation-view" class="icon-eye-open icon-large"
                    data-toggle="popover"  data-placement="top" data-trigger="hover" data-content="View STL, OBJ, ASC models directly in your browser" data-title="View">                 
                </i>             
            </div>
            <div id="preview"  class="span4 offset3">
                <i id="presentation-share" class="icon-share-alt"
                     data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Share your models with others, by ptoviding a public link to them" data-title="Share">
                </i>
            </div>
            <div id="preview"  class="span4 offset5">
                <i id="presentation-collaborate" class="icon-group"  data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Collaborate with others by writing notes and marking model parts" data-title="Collaborate">

                </i>
            </div>

             <div  id="preview" class="span4 offset7" >
                <i id="presentation-cloud" class="icon-cloud-download"
                    data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Share your models with others or Access them from anywhere by using your DropBox account. You can share not only models, but complete sessions (notes, custom colors included)" data-title="Cloud">

                </i>
            </div>
          
        </div>

      @*  <div id="introimage">           
           <img id="introImageSrc" src="@Url.Content("~/Content/Images/logo.png")" data-original="@Url.Content("~/Content/Images/intro.png")"/>               
        </div>   *@

      @*  <div id="sample_preview" style="padding: 33px;position: absolute;top: 420px;visibility:hidden">
             <div class="span4" style="padding: 5px 5px 2px 5px;">    
                                            
                 <a data-bind="attr:{href:ID}" id="link">                
                    <img class="preview_image" style="max-width: 100%;max-height: 100%;" data-bind="attr:{src:ModelImage}"></img>
                 </a>
                  <span />
                  <p id="fileName" data-bind="text:SessionName"></p>    
             </div>
        </div>*@
      
       
           
       @* <script type="text/javascript" async src="//js.live.net/v5.0/wl.js"></script>*@
        <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.9.1/dropbox.min.js"></script>
       @* <script type="text/javascript"  src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="li6cyy4xgngfash"></script>*@
        <script type="text/javascript"  src="@Url.Content("~/Scripts/Shared/dropbox.js")" id="dropboxjs" data-app-key="li6cyy4xgngfash"></script>
    
      
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-41877048-1', 'apphb.com');
            ga('send', 'pageview');
        </script>
             
      
      
        

        @Bundles.RenderScripts()


</body>

</html>
