<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/toastr.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body id="body" class="gridbody">
    @RenderBody()

    <script src="@Url.Content("~/Scripts/jquery-1.9.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/async.js")" type="text/javascript"></script>     
    <script src="@Url.Content("~/Scripts/three.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/binary_reader.js")" type="text/javascript"></script>        
    <script src="@Url.Content("~/Scripts/init3d.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/model_loader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.percentageloader-0.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/storage.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/userlogin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/viewmodels.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/startup_mesh.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/screenshot.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Converters/stl_to_mesh.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/Converters/vertex_to_mesh.js")" type="text/javascript"></script> 
</body>
</html>